cvzone
ultralytics
hydra-core
matplotlib
numpy
opencv-python-headless==4.13.0.92
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
lapx
streamlit
streamlit-webrtc
av
opencv-python==4.13.0.92

